@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    /* padding: 0;
    margin: 0; */
}

a {
    color: black;
    text-decoration: none;
}

body {
    position: relative;
}

.img-bcg {
    /* background-image: url("assets/img/bcg_img/decore.png"); */
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .menu-header {
        display: flex;
        list-style-type: none;
        align-items: center;
    }
    .menu-li {
        margin: 0px 30px;
    }   
    .menu-li {
        padding: 10px;
        font-weight: 600;
    }
    .sign {
        border: 1px black solid;
        padding: 5px 15px;
        border-radius: 5px;

    }
    #language {
        border: none;
        font-size: 1.1em;
        font-weight: 600;
        background-color: inherit;
    }
}

/* BANNER ACCEUIL */
.div-banner {
    display: flex;
    justify-content: center;
}

.div-left-side {
    margin-top: 100px;
    .tagline {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-size: 20px;
        color: #DF6951;
    }
    
    .title {
        font-family: "Volkhov", serif;
        font-size: 80px;
        font-weight: 800;
        color: #181E4B;
        letter-spacing: -1px;
        line-height: 90ipx;
        margin: 15px 0;
    }
    
    .paragraph {
        font-family: "Poppins", sans-serif;
        color: #5E6282;
        font-size: 16px;
        font-weight: 500;
    }
}

.buttons {
    display: flex;
    align-items: center;

    .findBtn {
        background-color: #F1A501;
        color: white;
        padding: 15px 25px;
        border-radius: 10px;
        font-weight: 600;
        margin:  15 0px;
    }
    .playBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
    }
    .play {
        top: 14px;
        position: relative;
    }
}

.div-category {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.small-text {
    color: #5E6282;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.teton {
    position: absolute;
    /* background-image: url("/assets/img/bcg_img/etoile.png"); */
    right: 50px;
    z-index: -1;
}

.title-div {
    display: flex;
    justify-content: center;
}

.title-nd {
    font-size: 50px;
    font-family: "Volkhov", serif;
    font-weight: bold;
    margin: 0;
    color: #14183E;
}

.main-card-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card-category {
    display: flex;
    flex-direction: column;

    align-items: center;
    position: relative;
    width: 287px;
    padding: 25px;
    img {
        margin: 10px;
    }

    h2 {
        font-size: 20px;
    }
    .text {
        text-align: center;
        font-weight: 500;
        color: #5E6282;
        margin: 0;
    }
}
.selected {
    box-shadow: 0px 20px 20px 0px #0000000d;
    border-radius: 0 0 35px 35px;
    background-color: white;

}

.carre {
    position: absolute;
    left: -35px;
    top: 200px;
    z-index: -1;
}

.div-destination {
    display:color flex;
    justify-content: center;
    margin-top: 150px;
}

.main-card-destination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card-destination {
    margin: 0px 25px 0px 25px;
}

.destination {
    box-shadow: 0px 13px 20px 0px #0000001a;;
    border-radius:0 0 25px 25px;
}


.information-trip {
    background-color: white;
    padding: 15px;
    position: relative;
    top: -141px;
    border-radius: 0 0 25px 25px;
}
.destination-price {
    display: flex;
    justify-content: space-between;

    .city {
        color: #5E6282;
        font-weight: 600;
    }
    .price {
        color: #5E6282;
        font-weight: 600;

    }
}
.time-trip{
    display: flex;
    align-items: center;

    .time {
        margin-left: 20px;
        color: #5E6282;
        font-weight: 500;
    }
}

.big-div-book {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}

.book-side {
    display: flex;
    flex-direction: column;
}

.small-text-book {
    color: #5E6282;
    font-weight: 600;
}


.book-title {
    font-family: "Volkhov", serif;
    font-size: 50px;
    margin: 0;
    color: #14183E;
    text-align: start;
}

.case-book {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.book-case {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.book-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
    .text-title {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: #5E6282;
        margin: 0;
    }
    .text-book {
        color: #5E6282;
        font-family: "Poppins", sans-serif;
        margin: 0;
    }
}

.div-card-travel {
    padding: 20px;
    background-color: white;
    box-shadow: 0px 20px 20px 0px #4343432b;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 100px;
}

.title-card-book {
    font-weight: 600;
}

.date-by {
    color: #84829A;
    font-weight: 500;
}

.logos-interaction {

    img {
        margin: 0px 6px;
    }
}

.last-line {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10PX 0;
    div {
        display: flex;
        p {
            margin: 0px 10px;
            color: #84829A;
            font-weight: 500;
        }
    }
}

.mini-card {
    position: relative;
    display: flex;
    background-color: white;
    padding: 15px;
    box-shadow: -1px 4px 20px 0px #4343432b;
    border-radius: 20px;
    gap: 20px;
    right: 155px;
    top: 98px;

    .profil {
        margin-top: 10px;
    }
}

.loadbar {
    background-color: #dcdcdc;
    height: 8px;
    width: 150px;
    border-radius: 10px;
    margin: 10px 0;
}
.loaded {
    background-color: #8A79DF;
    height: 8px;
    width: 40%;
    border-radius: 10px;
}
.percent-purple {
    color: #8A79DF;
}

.mini-card-text {
    .sm-tr-title {
        color: #84829A;
        font-weight: 500;
        font-size: 14px;
        margin: 0;
    }
    .tripto {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.1px;
        margin: 10px 0;
    }
    p
    {
        font-size: 14px;
        font-weight: 600;
        margin: 10px 0;
    }
}

.testimonials-case {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.left-side {
    display: flex;
    flex-direction: column;
    margin: 0;
    .sm-title {
        color: #5E6282;
        font-weight: 600;
        margin: 25px 0;
        p {
            margin: 0;
        }
    }
    .title-testimonials {
        margin: 0;
        h1 {
            margin: 0;
            font-family: "Volkhov", serif;
            font-size: 50px;
        }
    }
}

.allDot {
    display: flex;
    margin: 60px 0;
    .dotSelected{
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #39425D;
        margin: 0px 15px;
    }
    .dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #E5E5E5;
        margin: 0px 15px;
    }
}

.div-testimonial{
    margin-left: 100px;
}

.profil-testimonials{
    position: absolute;
    top: 30px;
    z-index: 1;
}

.right-side {

    .commentary {
        position: relative;
        padding: 20px;
        background-color: white;
        border-radius: 20px;
        margin-left: 45px;
        box-shadow: -1px 4px 20px 0px #4343432b;
    }
    p {
        margin: 0;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #5e6282d1;
    }
    h2{
        margin: 10px 0;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: #5e6282d1;
        font-size: 16px;
    }
    .nd-commentary {
        top: 158px;
        background-color: white;
        position: absolute;
        padding: 20px;
        border-radius: 10px;
        margin-left: 60px;
        border: solid #d5d6db63 2px;
        z-index: -1;
    }
}

.div-partner {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    div {
        display: flex;
        align-items: center;
        .selected {
            padding: 20px;
        }
        img {
            margin: 0px 40px;
            
        }
    }
}

.div-newsletter {
    display: flex;
    justify-content: center;
}

.sub-newsletter {
    position: relative;
    background-color: #dfd7f939;
    padding: 50px;
    width: 60%;
    margin-top: 100px;
    border-radius: 129px 20px 20px 20px;
    div {
        img {
            position: absolute;
            top: -20px;
            right: -20px;
        }
    }
    div {
        margin-top: 20px;
        h1 {
            text-align: center;
            color: #5e6282db;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            margin: 0;
        }
    }
    .information-news {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        input {
            padding: 20px;
            border: none;
            width: 421px;
            border-radius: 10px;
            margin: 0px 5px;
        }
        button {
            width: 180px;
            background: linear-gradient(#FF946D, #FF7D68);
            color: white;
            border: none;
            border-radius: 10px;
            margin: 0px 5px;
        }
        button:hover {
            cursor: pointer;
        }
    }
}